<!-- The Modal -->
<div id="myModal" class="modal" #myModal *ngIf="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="onCloseModal(myModal)">x</span>
      <h2>{{stuResume.name}}</h2>
    </div>
    <div class="modal-body">
      <table class="table table-striped">
        <tr>
          <th>Name:</th>
          <td>{{stuResume.name}}</td>
        </tr>
        <tr>
          <th>Date of birth:</th>
          <td>{{stuResume.dd}}/{{stuResume.mm}}/{{stuResume.yyyy}}</td>
        </tr>
        <tr>
          <th>Qualification:</th>
        </tr>
        <tr>
          <th>Examination: </th>
          <th>Marks:</th>
          <th>Year</th>
        </tr>
        <tr>
          <td>{{stuResume.exm}}</td>
          <td>{{stuResume.marks}}</td>
          <td>{{stuResume.year}}</td>

        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn-danger btn" (click)="onCloseModal(myModal)">Close</button>
    </div>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-6" >
      <h2>Your Jobs</h2>

      <div *ngFor="let j of gjobs | async" >
      <div class="panel panel-default" *ngIf="j.cid === uid">
        <div class="panel-heading">
          <h3 class="panel-title">{{j.title}}</h3>
        </div>
        <div class="panel-body">
          {{j.details}}
          <br>
          <br>
          <button class="btn btn-danger" (click)="onDelete(j.$key)">Delete</button>
        </div>
      </div>
      </div>
    </div>
      <div class="col-md-6" >
        <h2>Applications</h2>

        <div *ngFor="let a of ajobs | async" >
          <div class="panel panel-default" *ngIf="a.job.cid === uid">
            <div class="panel-heading">
              <h3 class="panel-title">{{a.job.title}}</h3>
            </div>
            <div class="panel-body">
              {{a.job.details}}
              <br>
              <br>
              <button class="btn btn-danger" (click)="onViewResume(a.sid, myModal)">See Resume</button>
              <button class="btn btn-danger" (click)="onDelete(j.$key)">Reject</button>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>

