<app-nav-unauth></app-nav-unauth>
<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-wrap">
          <h1>Create an account</h1>
          <form role="form" method="post" id="login-form" autocomplete="off" (submit)="onRegister({email: email.value, password: password.value})">
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="somebody@example.com" required #email>
            </div>
            <div class="form-group">
              <label for="key" class="sr-only">Password</label>
              <input type="password" name="key" id="key" class="form-control" placeholder="Password" required #password>
            </div>
            <div class="form-group">
              <div class="dropdown" style="float: right; margin-bottom: 10px; margin-top: -15px">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{accountType}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a (click)="onSelect('Student')">Student</a></li>
                  <li><a (click)="onSelect('Company')">Company</a></li>
                </ul>
              </div>
            </div>
            <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Register" *ngIf="button">
            <button id="btn-login2" class="btn btn-custom btn-lg btn-block" disabled  *ngIf="!button"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
              <span class="sr-only">Loading...</span></button>
          </form>
          <a class="forget" data-toggle="modal" data-target=".forget-modal" (click)="onNavigateLogin()" style="cursor: pointer">Already have account?</a>
          <hr>
        </div>
      </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>
